h3 ノーマルタイプ
section.acdjs
  article
    header
      .txt アコーディオン要素はちょっと作り方が変わりました
    main
      .ans
        .txt ソースコードを参考にしてください。
          br
          | 「section.acdjs」の中に「article」単位で
          br
          | 「header」の「.txt」に見出し（質問）を書きます
          br
          | 「main」の「.ans」の「.txt」に内容（回答）を書きます
  article
    header
      .txt プログラム部分は
    main
      .ans
        .txt acdjs.jsに入ってるよ
  article
    header
      .txt ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
    main
      .ans
        .txt この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れ

  article
    header
      .txt ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
    main
      .ans
        .txt この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れ


h3 FAQタイプ（クラス.faqを付加）
section.acdjs.faq
  article
    header
      .txt アコーディオン要素はちょっと作り方が変わりました
    main
      .ans
        .txt ソースコードを参考にしてください。
          br
          | 「section.acdjs」の中に「article」単位で
          br
          | 「header」の「.txt」に見出し（質問）を書きます
          br
          | 「main」の「.ans」の「.txt」に内容（回答）を書きます
  article
    header
      .txt プログラム部分は
    main
      .ans
        .txt acdjs.jsに入ってるよ
  article
    header
      .txt ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
    main
      .ans
        .txt この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れ
  article
    header
      .txt ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。ここに質問がきます／この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
    main
      .ans
        .txt この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れ

