.ancLinks
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク
  .ancBtn
    a.anc(href="#") #[span]アンカーリンク


