h3 テキストリンク
p: a(href="#") デフォルトで下線と色がつきます。オンマウスで線が消えます。
p: a(href="hoge.pdf") PDFの場合
p: a(href="hoge.xlsx") Excelの場合
p: a(href="hoge.docx") Wordの場合
p: a(href="#" target="_blank") 外部リンクの場合

p 寿限無寿限無五劫の擦り切れ海砂利水魚の水行末・雲来末・#[a(href="#" target="_blank" rel="noopener noreferrer") 風来末喰]う寝る処に住む処藪ぶら柑子の#[a(href="hoge.pdf") PDFの場合]藪柑子パイポ・パイポ・パイポのシューリンガンシューリンガンのグーリンダイグーリンダイのポンポコピーのポンポコナの長久命の長助