h3 区切り線
hr
p solid 1px $grey-base

h3 囲み枠
p.bdr
  | padding: $spacing-m
  br
  | border: solid 1px $grey-base

h3 囲み枠（背景色あり）
p.bdr.bg
  | padding: $spacing-m
  br
  | border: solid 1px $grey-base
  br
  | bgcolor: $grey-light

