
h3 画像なし

.contIndex
  article
    a.c-index(href="#")
      .mds コンテンツタイトル
      .icon

  article
    a.c-index(href="#")
      .mds コンテンツタイトル長いとき。コンテンツタイトル長いときコンテンツタイトル長いとき。
      .icon

  article
    a.c-index(href="#" target="_blank" rel="noopener noreferrer")
      .nonStyle.mds タゲブラ
      .icon

  article
    a.c-index(href="hoge.pdf")
      .nonStyle.mds PDF
      .icon

//- h3 画像あり

//- .contIndex
  article
    a.c-index(href="#")
      .image
        img(src="./img/cont/contindextest.svg", alt="")
      h2.nonStyle.mds コンテンツタイトル

  article
    a.c-index(href="#")
      .image
        img(src="./img/cont/contindextest2.svg", alt="")
      h2.nonStyle.mds コンテンツタイトル長いとき。コンテンツタイトル長いときコンテンツタイトル長いとき。

  article
    a.c-index(href="#" target="_blank" rel="noopener noreferrer")
      .image
        img(src="./img/cont/contindextest.svg", alt="")
      h2.nonStyle.mds タゲブラ

  article
    a.c-index(href="hoge.pdf")
      .image
        img(src="./img/cont/contindextest.svg", alt="")
      h2.nonStyle.mds PDF
