h3 サムネイルあり
.flows
  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds フローのタイトル
        p この文章はダミーです。文字の大きさ
      figure.imgArea
        img(src="./img/noimg.jpg", alt="ダミー画像")

  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds フローのタイトル
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      figure.imgArea
        img(src="./img/noimg.jpg", alt="ダミー画像")

  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds 混在テスト
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、

  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds フローのタイトル
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      figure.imgArea
        img(src="./img/noimg.jpg", alt="ダミー画像")



h3 サムネイルなし
.flows
  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds フローのタイトル
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、

  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds フローのタイトル
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、

  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds 混在テスト
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      figure.imgArea
        img(src="./img/noimg.jpg", alt="ダミー画像")

  .flow
    .flowInner
      .txtArea
        h3.nonStyle.mds フローのタイトル
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
