h2.ancLink ふわっとv2026
h3 .fuwat（デフォルトは下から来る）
.gridSys.fuwat
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.left（左から来る）
.gridSys.fuwat.left
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.right（右から来る）
.gridSys.fuwat.right
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.top（上から来る）
.gridSys.fuwat.top
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.blur（ぼかしからくっきりへ）
.gridSys.fuwat.blur
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.r-x（X軸回転）
.gridSys.fuwat.r-x
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.r-y（Y軸回転）
.gridSys.fuwat.r-y
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.r-cw（時計回り）
.gridSys.fuwat.r-cw
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h3 .fuwat.r-ccw（反時計回り）
.gridSys.fuwat.r-ccw
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。