
h3 画像2列に本文1列（gridSys版）
.gridSys
  .col-6.col-12Sp: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp: img.max(src="./img/dummy/w450.webp" alt="")
p flexとの違いは、gapが一定であるというところです。寿限無寿限無五劫の擦り切れ海砂利水魚の水行末・雲来末・風来末喰う寝る処に住む処藪ぶら柑子の藪柑子パイポ・パイポ・パイポのシューリンガンシューリンガンのグーリンダイグーリンダイのポンポコピーのポンポコナの長久命の長助



h3 フロートっぽいことをさせる（厳密にはfloatではない）（gridSys版）
h5.h5 １：１
.gridSys
  .col-6.col-12Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h5.h5 １：２
.gridSys
  .col-4
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-8
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h5.h5 １：３
.gridSys
  .col-3
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-9
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
h5.h5 １：２：１
.gridSys
  .col-3.col-6Sp.fOrder1Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp.fOrder3Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .col-3.col-6Sp.fOrder2Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
h5.h5 １：１：２
.gridSys
  .col-3.col-6Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-3.col-6Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
  .col-6.col-12Sp
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。

h3 3列に並べる
.gridSys
  .col-4.col-6Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .col-4.col-6Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .col-4.col-6Sp
    figure: img.max(src="./img/dummy/w450.webp" alt="")
    p 本文：この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。