h2.ancLink ボタン風チェックボックスとラジオボタン
p.bdr.bg ボタン風チェックボックスとラジオボタンの設定は option/likeAbtn.scss にあります


h3 どの動物をお供に連れていく？（チェックボックス）
.likeABtns
  label.likaABtn
    input(type="checkbox" value="いぬ" name="animal")
    span いぬ
  label.likaABtn
    input(type="checkbox" value="さる" name="animal")
    span さる
  label.likaABtn
    input(type="checkbox" value="きじ" name="animal")
    span きじ

h3 旅行プラン（ラジオボタン）
.likeABtns
  label.likaABtn
    input(type="radio" value="いぬ" name="plan")
    span いぬ
  label.likaABtn
    input(type="radio" value="さる" name="plan")
    span さる
