h3 見出しに使うフォントの変数は --font_mds
p 本文に使うデフォルトフォントの変数は --JP
p 本文　このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。

h4 h4 - H2〜H6見出し系統の設定は setting/_font.scss で設定します。
p 本文　このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。
h5 h5 - H2〜H6見出し系統の設定は setting/_font.scss で設定します。
p 本文　このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。
h6 h6 - H2〜H6見出し系統の設定は setting/_font.scss で設定します。
p 本文　このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。このテキストはダミーです。文字の長さを確認するために入れています。

//- p strongスタイルをかけてみる→#[strong ここがストロングスタイル]←かかってますかね？