.newsList
  article
    a.newsListLink(href="#")
      .text
        .title
          span 寿限無寿限無五劫の擦り切れ海砂利水魚の水
        .data
          .date 2025.09.01
          .cate トピックス
      .icon

  article
    a.newsListLink(href="#" target="_blank" rel="noopener noreferrer")
      .text
        .title
          span 寿限無寿限無五劫の擦り切れ
        .data
          .date 2025.09.01
          .cate お知らせ
      .icon


  article
    a.newsListLink(href="hoge.pdf")
      .text
        .title
          span 寿限無寿限無五劫の擦り切れ海砂利水魚の水行末・雲来末・風来末喰う寝る処に住む処藪ぶら柑子の藪柑子パイポ・パイポ・パイポのシューリンガンシューリンガンのグーリンダイグーリンダイのポンポコピーのポンポコナの長久命の長助寿限無寿限無五劫の擦り切れ海砂利水魚の水行末・雲来末・風来末喰う寝る処に住む処藪ぶら柑子の藪柑子パイポ・パイポ・パイポのシューリンガンシューリンガンのグーリンダイグーリンダイのポンポコピーのポンポコナの長久命の長助
        .data
          .date 2025.09.01
          .cate お知らせ
      .icon


  article
    a.newsListLink(href="hoge.docx")
      .text
        .title
          span 寿限無寿限無五劫の擦り切れ海砂利水魚の水
        .data
          .date 2025.09.01
          .cate トピックス
      .icon


  article
    a.newsListLink(href="hoge.xlsx")
      .text
        .title
          span 寿限無寿限無五劫の擦り切れ
        .data
          .date 2025.09.01
          .cate お知らせ
      .icon

