.pagebute(role="navigation")
  span
    a(href="#", class="link_before") 前へ
  a(href="#" class="link_page") 1
  a(href="#", class="link_page") 2
  a(href="#", class="link_page") 3
  a(href="#", class="link_page") 4
  span(class="current_page") 5
  a(href="#", class="link_page") 6
  a(href="#", class="link_page") 7
  a(href="#", class="link_page") 8
  a(href="#", class="link_page") 9
  a(href="#", class="link_page") 10
  a(href="#", class="link_page") 11
  span
    a(href="#", class="link_next") 次へ
