//- h3 TypeN
//- .tabMenu.typeN
//-   .menu すべて
//-   .menu 重要
//-   .menu 最新
//-   .menu お知らせ
//-   .menu 研究結果

//- .tabBoxes
//-     .boxes
//-       p こんな作りにしたら自動でタブになるよ
//-       pre
//-         code.prettyprint.linenums
//-           :escape-html
//-             <div class="tabMenu">
//-             <div class="menu">タブメニュー1</div>
//-             <div class="menu">タブメニュー2</div>
//-             <div class="menu">タブメニュー3</div>
//-             </div>
//-             <div class="tabBoxes">
//-             <div class="boxes">中身1</div>
//-             <div class="boxes">中身2</div>
//-             <div class="boxes">中身3</div>
//-             </div>
//-       p .tabMenuと.tabBoxesは必ず隣接させて、メニューと中身の順番を同じにしてね
//-     .boxes
//-       h3 JR東日本、まず「東北」から
//-       p JR東日本は訪日外国人の移動利便性を高める。24日から東北新幹線を皮切りに新幹線車内での無料公衆無線LANサービスを開始。訪日客向けフリー乗車券「#[a(href="#" tabindex="0") JRイーストパス]」では、6月1日から各フリーエリア内のJRバスを利用できるようにする。訪日外国人の要望に応えてサービスを整え、外国人の訪日満足度を高めるとともに地方への誘客につなげる。
//-       p 車内の無線LANサービスは駅構内で提供するサービスと認証方式を共用。東北新幹線「#[a(href="#" target="_blank" tabindex="0") E5系]」1編成で開始し、提供車両を順次拡大する。訪日外国人向けフリー乗車券は、駅から観光地をつなぐJRバスの路線バスに対応し、沿線から離れた観光地への2次交通の利便性向上を狙う。
//-     .boxes
//-       h3 JR東日本、まず「東北」から
//-       p JR東日本は訪日外国人の移動利便性を高める。24日から東北新幹線を皮切りに新幹線車内での無料公衆無線LANサービスを開始。訪日客向けフリー乗車券「#[a(href="#" tabindex="0") JRイーストパス]」では、6月1日から各フリーエリア内のJRバスを利用できるようにする。訪日外国人の要望に応えてサービスを整え、外国人の訪日満足度を高めるとともに地方への誘客につなげる。
//-       p 車内の無線LANサービスは駅構内で提供するサービスと認証方式を共用。東北新幹線「#[a(href="#" target="_blank" tabindex="0") E5系]」1編成で開始し、提供車両を順次拡大する。訪日外国人向けフリー乗車券は、駅から観光地をつなぐJRバスの路線バスに対応し、沿線から離れた観光地への2次交通の利便性向上を狙う。
//-     .boxes
//-       h3 JR東日本、まず「東北」から
//-       p JR東日本は訪日外国人の移動利便性を高める。24日から東北新幹線を皮切りに新幹線車内での無料公衆無線LANサービスを開始。訪日客向けフリー乗車券「#[a(href="#" tabindex="0") JRイーストパス]」では、6月1日から各フリーエリア内のJRバスを利用できるようにする。訪日外国人の要望に応えてサービスを整え、外国人の訪日満足度を高めるとともに地方への誘客につなげる。
//-       p 車内の無線LANサービスは駅構内で提供するサービスと認証方式を共用。東北新幹線「#[a(href="#" target="_blank" tabindex="0") E5系]」1編成で開始し、提供車両を順次拡大する。訪日外国人向けフリー乗車券は、駅から観光地をつなぐJRバスの路線バスに対応し、沿線から離れた観光地への2次交通の利便性向上を狙う。
//-     .boxes
//-       h3 JR東日本、まず「東北」から
//-       p JR東日本は訪日外国人の移動利便性を高める。24日から東北新幹線を皮切りに新幹線車内での無料公衆無線LANサービスを開始。訪日客向けフリー乗車券「#[a(href="#" tabindex="0") JRイーストパス]」では、6月1日から各フリーエリア内のJRバスを利用できるようにする。訪日外国人の要望に応えてサービスを整え、外国人の訪日満足度を高めるとともに地方への誘客につなげる。
//-       p 車内の無線LANサービスは駅構内で提供するサービスと認証方式を共用。東北新幹線「#[a(href="#" target="_blank" tabindex="0") E5系]」1編成で開始し、提供車両を順次拡大する。訪日外国人向けフリー乗車券は、駅から観光地をつなぐJRバスの路線バスに対応し、沿線から離れた観光地への2次交通の利便性向上を狙う。



h3 TypeT
.tabMenu.typeT
  .menu すべて
  .menu 重要なお知らせ
  .menu ほげほげ
  //- .menu ふがふが

.tabBoxes
    .boxes
      p こんな作りにしたら自動でタブになるよ
      pre
        code.prettyprint.linenums
          :escape-html
            <div class="tabMenu">
            <div class="menu">タブメニュー1</div>
            <div class="menu">タブメニュー2</div>
            <div class="menu">タブメニュー3</div>
            </div>
            <div class="tabBoxes">
            <div class="boxes">中身1</div>
            <div class="boxes">中身2</div>
            <div class="boxes">中身3</div>
            </div>
      p .tabMenuと.tabBoxesは必ず隣接させて、メニューと中身の順番を同じにしてね
    .boxes
      h3 JR東日本、まず「東北」から
      p JR東日本は訪日外国人の移動利便性を高める。24日から東北新幹線を皮切りに新幹線車内での無料公衆無線LANサービスを開始。訪日客向けフリー乗車券「#[a(href="#" tabindex="0") JRイーストパス]」では、6月1日から各フリーエリア内のJRバスを利用できるようにする。訪日外国人の要望に応えてサービスを整え、外国人の訪日満足度を高めるとともに地方への誘客につなげる。
      p 車内の無線LANサービスは駅構内で提供するサービスと認証方式を共用。東北新幹線「#[a(href="#" target="_blank" tabindex="0") E5系]」1編成で開始し、提供車両を順次拡大する。訪日外国人向けフリー乗車券は、駅から観光地をつなぐJRバスの路線バスに対応し、沿線から離れた観光地への2次交通の利便性向上を狙う。
    .boxes
      p ほげ