h3 情報が見やすいテーブル
h4 thが横並びで入る場合
p .tableWrapper で囲んどくとスマホで横スクロール
.tableWrapper
  table.table-scr
    tr
      th th
      th th
      th th
      th th
    tr
      td td
      td td
      td td
      td td
    tr
      td この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      td td
      td td
      td td
    tr
      td td
      td td
      td td
      td td

.tableWrapper
  table.table-scr
    tr
      th th
      td td
      td td
      td td
    tr
      th th
      td この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      td td
      td td
    tr
      th th
      td td
      td td
      td td
    tr
      th th
      td td
      td td
      td td
h4 長い文章が入るテーブル
.tableWrapper
  table.table.type2.table-scr
    tr
      th 会社名
      td 寿限無寿限無五劫の擦り切れ海砂利水魚の水行末・雲来末・風来末喰う寝る処に住む処藪ぶら柑子の藪柑子パイポ・パイポ・パイポのシューリンガンシューリンガンのグーリンダイグーリンダイのポンポコピーのポンポコナの長久命の長助
    tr
      th 所在地
      td 内容は左寄せ
    tr
      th 電話番号
      td 内容は左寄せ
    tr
      th メールアドレス
      td 内容は左寄せ

