.wp-pagenavi(role="navigation")
  //- a.first(aria-label="First Page" href="#" tabindex="0") 前へ
  a.previouspostslink(rel="prev" aria-label="前のページ" href="#" tabindex="0")
  span.extend ...
  a.page.smaller(title="ページ 3" href="#" tabindex="0") 3
  a.page.smaller(title="ページ 4" href="#" tabindex="0") 4
  span.current(aria-current="page") 5
  a.page.larger(title="ページ 6" href="#" tabindex="0") 6
  a.page.larger(title="ページ 7" href="#" tabindex="0") 7
  span.extend ...
  a.nextpostslink(rel="next" aria-label="次のページ" href="#" tabindex="0")
  //- a.last(aria-label="Last Page" href="#" tabindex="0") 次へ
