footer#footer.global-layout__footer
  .inner
    .frame
      .left
        .logo
          img(src=logoImgPath, alt=siteName)
        .address 〒880-0812　宮崎県宮崎市高千穂通2-2-27
          br
          | TEL：0985-22-6887
          | FAX：0985-27-2526
      .right
        .snsIcons
          a(href="#")
            img(src="./img/icon/sns/icon_youtube_rgb.svg", alt="youtube")
          a(href="#")
            img(src="./img/icon/sns/icon_instagram_rgb.svg", alt="instagram")
          a(href="#")
            img(src="./img/icon/sns/icon_facebook-circle_rgb.svg", alt="facebook")
          a(href="#")
            img(src="./img/icon/sns/icon_x_rgb.svg", alt="X")

    //- hr.tbKill.spKill

    //- .siteMaps.tbKill.spKill
      .sitemap
        .mainLink
          a(href="#") 学校案内
        .subLinks
          .link: a(href="#") 学校概要
          .link: a(href="#") シラバス
          .link: a(href="#") 学校理念
          .link: a(href="#") イベントカレンダー
          .link: a(href="#") よくある質問
          .link: a(href="#") アクセス
          .link: a(href="#") 個人情報保護方針

      .sitemap
        .mainLink
          a(href="#") 学科案内
        .subLinks
          .link: a(href="#") 初級公務員本科
          .link: a(href="#") 初級公務員専攻科
          .link: a(href="#") 上級公務員コース
          .link: a(href="#") 大学進学科
          .link: a(href="#") 国家ビジネス科

      .sitemap
        .mainLink
          a(href="#") 公務員試験に関するご案内
        .subLinks
          .link: a(href="#") 合格実績
          .link: a(href="#") 就職実績
          .link: a(href="#") 卒業生の声

      .sitemap
        .mainLink
          a(href="#") 入学に関するご案内
        .subLinks
          .link: a(href="#") 既卒者の方へ
          .link: a(href="#") 入学までの流れ
          .link: a(href="#") 公務員の種類
          .link: a(href="#") オープンキャンパス
          .link: a(href="#") 資料請求

      .sitemap
        .mainLink
          a(href="#") お問い合わせ



    hr
    .copyright &copy; Miyazaki Businesskoumuin Akademy .
