.hamMenuesArea
  ul.dDownMenuSP
    li#menu-item-350.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-350
      a(href='#') 新着情報
    li#menu-item-351.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-351
      a(href='#') 当協会のご案内
    li#menu-item-352.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-352
      a(href='#') 技能検定
      ul.sub-menu
        li#menu-item-X01.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X01
          a(href='#') 技能検定（前期・後期試験）
        li#menu-item-X02.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X02
          a(href='#') 技能検定（外国⼈技能実習⽣対象）
        li#menu-item-X03.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X03
          a(href='#') 技能検定実技試験⼿数料助成制度（ご案内）
    li#menu-item-353.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-353
      a(href='#') コンピューターサービス技能評価試験・ビジネスキャリア検定試験
      ul.sub-menu
        li#menu-item-X31.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X31
          a(href='#') ビジネス・キャリア検定試
        li#menu-item-X32.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X32
          a(href='#') コンピューターサービス技能評価試
  ul.dDownMenuSP
    li#menu-item-354.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-354
      a(href='#') 各種研修・講習等のご案内
      ul.sub-menu
        li#menu-item-X41.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X41
          a(href='#') 社員研修
        li#menu-item-X42.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X42
          a(href='#') 社員研修（出前研修）
        li#menu-item-X43.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X43
          a(href='#') 職業訓練指導員講習（48時間）

    li#menu-item-355.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-355
      a(href='#') 新着情報技能競技大会
    li#menu-item-356.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-356
      a(href='#') 職業訓練施設
    li#menu-item-357.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-357
      a(href='#') 各種様式ダウンロード
    li#menu-item-358.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-358
      a(href='#') リンク
    li#menu-item-359.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-359
      a(href='#') よくあるご質問
  ul.dDownMenuSP
    li#menu-item-361.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-361
      a(href='#') お問い合わせフォーム
    li#menu-item-362.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-362
      a(href='#') アクセスマップ
    li#menu-item-363.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-363
      a(href='#') サイトマップ
    li#menu-item-364.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-364
      a(href='#') 宮崎県技能士会連合会
    li#menu-item-365.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-365
      a(href='#') よくあるご質問
    li#menu-item-366.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-366
      a(href='#') ものづくり体験・技能講習等（若年技能者⼈材育成⽀援等事業）
      ul.sub-menu
        li#menu-item-X51.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X51
          a(href='#') ものづくりマイスター制度
        li#menu-item-X52.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X52
          a(href='#') 技能講習会
        li#menu-item-X53.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-X53
          a(href='#') ものづくり体験
    li#menu-item-366.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-366
      a(href='#') プライバシーポリシー
