//- アクセシビリティ考慮したプルダウンメニュー
.axsablePdownMenu
    nav(role="navigation")
        ul
            li.menu-item-has-children
                a(href="#") Coding ▼
                ul.sub-menu
                    li
                        a(href="#") CSS
                    li
                        a(href="#") HTML5
                    li
                        a(href="#") WordPress
                    li
                        a(href="#") jQuery
                    li
                        a(href="#") SVG
            li.menu-item-has-children
                a(href="#") Design ▼
                ul.sub-menu
                    li
                        a(href="#") Web Design
                    li
                        a(href="#") Fonts
                    li
                        a(href="#") Colour
            li
                a(href="#") Tips
            li
                a(href="#") For Beginner


