#dlModal
  .inner
    .rect
      .thanks.flex.center
        .logo
          img(src="./img/icon-shutter.svg", alt="")
        .mds
          | 宮崎市フォトアーカイブをご利用いただき
          br
          | ありがとうございます
      .kakomi 写真を商用利用される方へ
      p.text 宮崎市フォトアーカイブに掲載している写真を商用利用いただく際は、<br>以下の申請フォームから必要事項をお知らせください。
      .inlineC
        a.btn(href="#" target="_blank" rel="noopener noreferrer")
          span 利用規約
        a.btn(href="#" target="_blank" rel="noopener noreferrer")
          span 申請フォーム
      p 送信された情報は #[a(href="#" target="_blank" rel="noopener noreferrer") プライバシーポリシー] にもとづいて処理されます。
      .inlineC.mt3em
        a.btn.close.black.freeSize.reverse.dlmClose
          span 閉じる
