header#header.ovWidth.subPage
    .inner
        if topPageFlag=='YES'
            h1.logo
                img(src="./img/logo.png", alt="本部農場")
        else
            .logo
                img(src="./img/logo.png", alt="本部農場")
        button.ui-hamburger-2.intBtn.hamMenu
        nav.gNavi
            a(href="#" tabindex="0") 私たちのこだわり
            a(href="#" tabindex="0") 本部農場の取り組み
            a(href="#" tabindex="0") 設備の紹介
            a(href="#" tabindex="0") 農場について
            a(href="#" tabindex="0") リクルート
            a(href="#" tabindex="0") お問合せ
            a(href="#" tabindex="0") お知らせ
