// --------------------------------
// #mainCont
// --------------------------------
@layer layout {
  #mainCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0;
  }

  // --------------------------------
  // 内部要素
  // --------------------------------
  @scope (#mainCont) {
    .inner {
      margin-top: var(--main-margin);
      margin-bottom: var(--main-margin);
    }

    .flb {
      display: flex;
      flex-direction: column;
      gap: var(--main-margin);
      align-items: stretch;
      justify-content: flex-start;

      & > * {
        margin-top: 0;
        margin-bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: var(--spacing-l);

        & > * {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
