section#aboutContact
  section#about
    .frame
      h2.nonStyle ABOUT SCHOOL
      p 社会や人々の役に立ちたいという熱い想いを、
        br
        | 専門的でプロフェッショナルな力へ。
        br
        | 確かな知識と実践力を身につけ、社会で活躍できる人を育てる学校です。
      .inlineC
        a.btn(href="#" role="button") 学校紹介

  section#contact
    .frame
      .mds
        h2.nonStyle CONTACT
        p ビジ公とつながる
      .contBtns
        a.contBtn(href="#" role="button")
          .icon
            img(src="./img/top/contactIcon01.svg", alt="")
          .text 資料請求
          .arrow
        a.contBtn(href="#" role="button")
          .icon
            img(src="./img/top/contactIcon02.svg", alt="")
          .text 体験入学申し込み
          .arrow
        a.contBtn(href="#" role="button")
          .icon
            img(src="./img/top/contactIcon03.svg", alt="")
          .text お問い合わせ
          .arrow
