section#course

  h2.nonStyle.top COURSE
    .sub 目標に向けて歩む5つの道

  .courses
    a.course.honka(href="#")
      .bg
        img(src="./img/top/img_top_course_bg.webp", alt="")
      .text
        .tapes
          .tape 集中して合格の道へ
          .tape 1年で公務員を目指す
        .title
          .circle １年#[br]課程
          .mds 初級公務員本科
        .mezaseru
          .mds 目指せる職業
          img(src="./img/top/dia.svg", alt="")
          .naiyou 国家公務員、地方公務員
      .icon
      .portrait
        img(src="./img/top/img_top_course_01.webp", alt="")

    a.course.senkou(href="#")
      .bg
        img(src="./img/top/img_top_course_bg.webp", alt="")
      .text
        .tapes
          .tape 1年で公務員を目指す
          .tape 1年で公務員を目指す
        .title
          .circle ２年#[br]課程
          .mds 初級公務員専攻科
        .mezaseru
          .mds 目指せる職業
          img(src="./img/top/dia.svg", alt="")
          .naiyou 国家公務員、地方公務員
      .icon
      .portrait
        img(src="./img/top/img_top_course_02.webp", alt="")

    a.course.jokyu(href="#")
      .bg
        img(src="./img/top/img_top_course_bg.webp", alt="")
      .text
        .tapes
          .tape 充実の教養科目と専門科目で
          .tape 国家一般職や地方上級公務員に
        .title
          .circle １年#[br]課程
          .mds 上級公務員コース
        .mezaseru
          .mds 目指せる職業
          img(src="./img/top/dia.svg", alt="")
          .naiyou 国家公務員、地方公務員
      .icon
      .portrait
        img(src="./img/top/img_top_course_03.webp", alt="")

    a.course.business(href="#")
      .bg
        img(src="./img/top/img_top_course_bg.webp", alt="")
      .text
        .tapes
          .tape 宮崎で学び、日本で働き
          .tape 世界へ羽ばたく
        .title
          .circle ２年#[br]課程
          .mds 国際ビジネス科
        .mezaseru
          .mds 目指せる職業
          img(src="./img/top/dia.svg", alt="")
          .naiyou 国家公務員、地方公務員
      .icon
      .portrait
        img(src="./img/top/img_top_course_04.webp", alt="")

    a.course.shingaku(href="#")
      .bg
        img(src="./img/top/img_top_course_bg.webp", alt="")
      .text
        .tapes
          .tape 近畿大学卒業＋公務員を目指す
          //- .tape 世界へ羽ばたく
        .title
          .circle ４年#[br]課程
          .mds 大学進学課程
        //- .mezaseru
          .mds 目指せる職業
          img(src="./img/top/dia.svg", alt="")
          .naiyou 国家公務員、地方公務員
      .icon
      //- .portrait
        img(src="./img/top/img_top_course_04.webp", alt="")

