section#kanren

  .frame

    h2.nonStyle 関連学校

    .contBtns
      a.contBtn(href="#" role="button")
        .text 宮崎マルチメディア専門学校
        .arrow
      a.contBtn(href="#" role="button")
        .text 宮崎ブライダル＆スポーツ専門学校
        .arrow
      a.contBtn(href="#" role="button")
        .text 向洋学園高等専修学校
        .arrow