section#pickup

  h2.nonStyle.top PICKUP
    .sub ビジ公おすすめ情報

  #puSlide
    .img
      a(href="#")
        img(src="./img/top/pickup1.webp", alt="")
    .img
      a(href="#")
        img(src="./img/top/pickup2.webp", alt="")
    .img
      a(href="#")
        img(src="./img/top/pickup3.webp", alt="")

  //- .control
    .inner
      #slider-prev.button
        i.fa-solid.fa-angle-left
      .center
        #slider-pause.button
          i.fa-solid.fa-pause
        #slider-play.button
          i.fa-solid.fa-play
      #slider-next.button
        i.fa-solid.fa-angle-right
